/ConnectionFactory.class
/TestaConexao.class
/TestaInsercaoComParametro.class
/TestaListagem.class
/TestaRemocao.class
/TesteInsercao.class
/TestaPoolDeConexoes.class
/Produto.class
/TestaInsercaoComProduto.class
/PersistenciaProduto.class
/ProdutoDao.class
/TestaInsercaoEListagemProduto.class
/TestaListagemDeCategorias.class
/Categoria.class
/CategoriaDao.class
