/TestaConexao.class
/TestaInsercaoComParametro.class
/TestaInsercaoEListagemProduto.class
/TestaListagem.class
/TestaListagemDeCategorias.class
/TestaPoolDeConexoes.class
/TestaRemocao.class
/TesteInsercao.class
/TestaListagemCategorias.class
